.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  width: 30%;
}
fieldset{
	margin:auto;
	text-align: center;
    background-image: url('/static/bg.png')repeat;
}
.bg{
    background-image: url('/static/bg.png')repeat;
}
