<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link rel="stylesheet" href="/static/public/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Picturi - error</title>
</head>
<body>
  <img class="center" alt="cool_logo" src='/static/whoopsie.jpg'></img>
  <form class="pure-form" name="form">
    <fieldset>
        <legend>A simple way to share your memories</legend>
       <h3> Something went wrong, here is what: </h3>
       <h4>Error traceback: <q>{{error}}</q></h4>
    </fieldset>
</form>
 <footer>
</footer> 
</body>
</html>
